@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300;1,600&display=swap');

body {
    font-family: 'Source Sans Pro', 
    sans-serif;
}

.root {
    --primary-color: #f59e0b;
}

.navigation {
    background-color: #facc15;
    text-align: center;
    height: 15vh;
    padding: 0rem;
}

